/* @import reset, variables and mixins */
@import "reset";
@import "variables";
@import "mixins";

body {
  font-family: 'Courier New', Courier, monospace;
  color: var(--color_primary);
  background-color: var(--background_primary);
  position: relative;

  #mobile_menu_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 75;
    background-color: var(--background_header);
    backdrop-filter: blur(.75rem);
    -webkit-backdrop-filter: blur(.75rem);
    transform-origin: center left;
    @include transition(transform);
    transform: scaleX(0);

    &.active {
      transform: scaleY(1);
    }
  }
}

/* @import components */
@import "components";

/* Header */
header {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  background-color: var(--background_header);
  padding: var(--spacing);
  flex-direction: column;
  align-items: flex-start;
  @include shadows;
  backdrop-filter: blur(.75rem);
  -webkit-backdrop-filter: blur(.75rem);
  flex-wrap: wrap;
  z-index: 100;

  nav {
    width: 100%;

    #burger_button {
      position: absolute;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      flex-direction: column;
      width: calc(var(--spacing) * 2);
      height: calc(var(--spacing) * 2);
      right: 0;
      top: 0;
      margin: var(--spacing);
      cursor: pointer;
      transform-origin: center;
      @include transition(transform);

      &::before,
      &::after {
        content: "";
        position: relative;
        height: .125rem;
        border-radius: .125rem;
        background-color: var(--color_primary);
        @include transition(background-color, transform);
      }

      &::before {
        width: 100%;
      }

      &::after {
        width: 80%;

      }

      @include hover(active){
        transform: rotate(-90deg);

        &::before,
        &::after {
          background-color: var(--accent_primary);
        }

        &::before {
          transform: rotate(-180deg);
        }

        &::after {
          transform: rotate(135deg) translate(-0.55rem, 1.3rem);
        }
      }
    }

    ul {
      display: none;
      gap: calc(var(--spacing) * 2);
      flex-direction: column;
      align-items: flex-start;
      margin-top: var(--spacing);

      a {
        white-space: nowrap;
      }

      li {
        @include transition(transform, opacity);
      }

      @keyframes asd {
        0% {
          opacity: 1;
          transform: translateX(-100%);
        }

        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }

      &.active {
        display: flex;

        li {
          animation: asd 750ms cubic-bezier(0,.75,.25,1) forwards;
        }
      }
    }
  }
}

/* Main */
main {
  margin-top: 4.25rem;

  .emphasize-text {
    color: var(--accent_primary);
  }

  #back_to_top {
    position: sticky;
    display: flex;
    gap: var(--spacing);
    padding: var(--spacing);
    right: var(--spacing);
    bottom: var(--spacing);
    margin-bottom: var(--spacing);
    margin-left: auto;
    width: max-content;
    cursor: pointer;
    background-color: var(--background_primary);
    border-radius: calc(var(--spacing) / 2);
    @include shadows();
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    @include transition(background-color, opacity);

    img {
      max-width: calc(var(--spacing) * 2);
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: calc(var(--spacing) / 2);
      @include transition(opacity);
    }

    &::before {
      opacity: 1;
      @include shadows();
    }

    @include hover {
      background-color: var(--accent_primary);

      &::before {
        opacity: 0;
      }
    }

    &.active {
      visibility: visible;
      opacity: 1;
    }
  }

  #under_construction {
    margin: 0 auto;
    margin-bottom: 0px;
    text-align: center;
    position: fixed;
    display: block;
    margin-bottom: 5rem;
    opacity: 0.25;
    bottom: 7rem;
    transform: rotate(-90deg);
    right: -4rem;
  }
}

/* Section */
section {
  width: 100%;
  padding: calc(var(--spacing) * 5) var(--spacing) 0;

  &:last-of-type {
    padding-bottom: 5rem;
  }

  article {
    display: flex;
    flex-wrap: wrap;
    max-width: var(--max_content_width);
    gap: calc(var(--spacing) * 2);
    margin: 0 auto;

    .article-title {
      width: 100%;
      text-align: center;

      h2 {
        position: relative;
        font-size: 2rem;
        width: 100%;
        margin-bottom: calc(var(--spacing) / 2);

        &::before,
        &::after {
          color: var(--accent_primary);
          @include transition(color);
        }

        &::before {
          content: "< ";
        }

        &::after {
          content: " />";
        }
      }

      span {
        font-size: 1rem;
        font-weight: 800;
      }
    }
  }

  @import "sections";
}

/* Footer */
footer {
  position: relative;
  display: flex;
  align-items: center;
  bottom: 0;
  background-color: var(--background_primary);
  padding: var(--spacing);
  // box-shadow: 0 -.5rem 1rem var(--shadow_primary);
  @include shadows;
  gap: var(--spacing);
  flex-wrap: wrap;

  .hosted-by {
    svg {
      position: relative;
      height: 0.75rem;
      top: .125rem;
      fill: var(--accent_primary);
    }
  }
}

/* Logo */
.logo {
  display: block;
  cursor: pointer;
  height: 2rem;

  svg {
    height: 100%;

    .logo-fill {
      fill: var(--color_primary);
    }

    &.desktop-logo {
      display: none;
    }

    &.mobile-logo {
      display: block;
    }
  }

  &.in-header {
    margin-right: auto;
    margin-top: .5rem;
  }

  &.in-footer {
    margin-left: auto;
    margin-top: .5rem;
  }
}

@media(min-width: $large_screen) {
  header,
  footer {
    padding: calc(var(--spacing) * 2);
  }

  header {
    flex-direction: row;
    align-items: center;

    nav {
      width: auto;

      #burger_button {
        display: none;
      }

      ul {
        align-items: center;
        flex-direction: row;
        display: flex;
        margin-top: 0;
      }
    }
  }

  .logo {
    svg {
      &.desktop-logo {
        display: block;
      }

      &.mobile-logo {
        display: none;
      }
    }
  }

  body {
    #mobile_menu_overlay {
      display: none;
    }
  }

  main {
    margin-top: 6.5rem;

    #back_to_top {
      right: calc(var(--spacing) * 2);
      bottom: calc(var(--spacing) * 2);
      margin-bottom: calc(var(--spacing) * 2);
    }
  }

  section {
    padding: calc(var(--spacing) * 5) calc(var(--spacing) * 2) 0;

    article {
      gap: calc(var(--spacing) * 4);
    }
  }
}
