/* Variables */

:root {
  --color_primary: #20242c;
  --shadow_primary: #20242c0d;
  --background_primary: #f3f6f9;
  --background_header: #f3f6f9bd;
  --white: #fff;
  --accent_primary: #bada55;
  --spacing: 1rem;
  --max_content_width: 65rem;
}

$large_screen: 40rem;